#post {
  border-radius: 2px;
  padding: 1%;
  font-size: 17px !important;
  border: 1px solid rgba(160, 160, 160, 0.7);
}

#post-nav {
  padding: 0 !important;
}

.nav-btn {
  margin-left: 10px !important;
}

#title {
  font-size: 32px !important;
  padding: 1%;
}

#content {
  font-size: 17px !important;
}

#title,
#content {
  border-bottom: 0 !important;
  box-shadow: none !important;
}
