header {
  background: #424242 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidenav li > a {
  color: #ffffff !important;
}

a.subheader {
  font-style: italic;
}
